/**
 * Farbtastic Color Picker 1.2
 */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../img/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../img/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(../img/marker.png) no-repeat;
}
#colorpicker{position: absolute;background: #ffffff}

/**
 * Adminpanel add css
 */
.selector {width: 850px;float: left;
}
.selector-available, .selector-chosen {width: 400px;}
.selector select{width:400px}
.selector .selector-available input {width: 360px;}

.field-manufacturer,.field-country{width:40%;float: left;}
.field-country{width:40%;float: right;}