{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section>
        <div id="breadcrumbs">
            <a href="/">Главная</a> » Страница авторизации
        </div>
        <h1 class="only_cat">Пожалуйста авторизируйтесь</h1>
        <form action="{% url django.contrib.auth.views.login %}" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button type="submit" class="login">{% trans "Log in" %}</button>
            <a href="/accounts/register/" class="register">Зарегистрироваться</a>
        </form>
    </section>
{% endblock %}