{% extends "base.html" %}
{% load thumbnail %}
        {% block title %}{{ category.title }}{% endblock %}
        {% block keywords %}{{ category.keywords }}{% endblock %}">
        {% block description %}{{ category.descriptions }}{% endblock %}">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ MEDIA_URL }}css/style.css" type="text/css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
{% block main_image %}
    {% thumbnail category.image "750x280" crop="center" as im %}
    <img src="{{ im.url }}" alt="{{ category.name }}" class="main_pic">
    {% endthumbnail %}
{% endblock %}
{% block content %}
    <section>
    <div id="breadcrumbs">
        <a href="/">Главная</a> {% for node in category.get_ancestors %} » <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
        {% endfor %} » {{ category.name }}
    </div>
    <div id="socseti">
    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber"></div>
    </div>
    <h1 class="only_cat">{{ category.name }}</h1>
    {% if child_categories %}
	<ul id="catalog">
	    {% for child in category.children.all %}
	    <li>
            <a href="{{ child.get_absolute_url }}">
                <p>{{ child.name }}</p>
                {% thumbnail child.image "x140" as im %}
                <img src="{{ im.url }}" alt="{{ child.name }}">
                {% endthumbnail %}
                <p class="slide_price">Подробнее...</p>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if child_articles %}
    <ul id="catalog">
    {% if filter_articles %}
    <form method="get" id="sort_by">
        {% for manufacturer in filter_articles %}
            <input type="checkbox" name="sort_by" value="{{ manufacturer }}" onclick="submit();" {% if manufacturer in selected_manufactures %}checked{% endif %}>{{ manufacturer }}
        {% endfor %}
    </form>
    {% endif %}
        {% for article in child_articles.all %}
        {% ifchanged article.union_name %}
	    <li>
            <a href="{{ article.get_absolute_url }}">
                <p>{{ article.union_name }}</p>
                {% thumbnail article.image "x140" as im %}
                <img src="{{ im.url }}" alt="{{ article.union_name }}">
                {% endthumbnail %}
                <p class="slide_price">Посмотреть цену</p>
            </a>
        </li>
        {% endifchanged %}
        {% endfor %}
    </ul>
    {% endif %}
    </section>
{% endblock %}