<!DOCTYPE html>
{% comment %}
{% load i18n cache mptt_tags %}
{% endcomment %}
{% load i18n %}
{% load mptt_tags %}
{% load thumbnail %}
{% load i18n cache flatpages %}
{% get_flatpages as flatpages %}
<html>
    <head>
		<link href="{{ MEDIA_URL }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
        <meta name="viewport" content="target-densitydpi=device-dpi" />
        <title>{% block title %}Himproekt{% endblock %}</title>
        <meta name="keywords" content="{% block keywords %}Himproekt.com{% endblock %}">
        <meta name="description" content="{% block description %}Himproekt.com{% endblock %}">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ MEDIA_URL }}css/style.css" type="text/css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <script src="{{ MEDIA_URL }}js/jquery-1.8.2.min.js"></script>
		<script src="{{ MEDIA_URL }}js/jquery.bxSlider.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/script.js" type="text/javascript"></script>
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
 -      <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        {% block seourl %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
    {{ constants.yandex_counter|safe }}
	<header>
        <a href="/" id="logo"></a>
        <div id="top_menu">
            <a href="/about/">О Магазине</a> |
            <a href="/sotrudnichestvo/">Сотрудничество</a> |
            <a href="/for_competitors/">Для конкурентов</a> |
            <a href="/dostavka_i_oplata/">Доставка и оплата</a> |
            <a href="/contact/">Контакты</a>
        </div>
        <a href="/cart/" id="bag">У вас <i id="cart-quantity"></i> заказов на сумму <i id="cart-price"></i> грн.</a>
        <form action="{% url search %}" method="get" class="search">
            <input type="search" name="q" placeholder="поиск" class="input" />
            <input type="submit" value="" class="submit" />
        </form>
        <nav class="topnav">
            <ul>
            {% for category in root_categories %}
            <li>{% if category.children %}<a href="{{ category.get_absolute_url }}" class="parent">{{ category.name }}</a>{% else %}
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                {% endif %}
                <ul>{% for child in category.children.all %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                    {% if child.children %}
                    <ul>{% for child in child.children.all %}
                        <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>{% endfor %}
                    </ul>
                    {% endif %}
                    </li>{% endfor %}
                </ul>
            </li>
            {% endfor %}
            </ul>
            {% block main_image %}<img src="{{ MEDIA_URL }}img/himproekt_index.jpg" class="main_pic">{% endblock %}
        </nav>
	</header>
    {% block index %}
    <main>
    {% block content %}
    {% endblock %}
    {% endblock %}
    </main>
    <footer>
        {{ constants.adres_footer|safe }}
    </footer>
	{{ constants.google_analytics|safe }}
	<div id="item-add-box" class="item_add_hidden">
        <div class="popup-content">Товар добавлен в корзину!
    </div>
    <script src="{{ MEDIA_URL }}js/lightbox.js" type="text/javascript"></script>
    </body>
</html>
