{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block description %}
    {% block title %}{% block keywords %}{{ lookup_text }}{% endblock %} :: {{ block.super }}{% endblock %}
{% endblock %}

{% block content %}
    <section>
    <div id="breadcrumbs">
        <a href="/">Главная</a> » Поиск
    </div>
    <h2 class="only_cat">Результаты поиска по названию "{{ lookup_text }}":</h2>
    <ul id="catalog">
	    {% for article in object_list %}
            {% ifchanged article.main_category.name %}
	    <li>
            <a href="{{ article.main_category.get_absolute_url }}">
                <p>{{ article.main_category.name }}</p>
                {% thumbnail article.main_category.image "x140" as im %}
                <img src="{{ im.url }}" alt="{{ article.main_category.name }}">
                {% endthumbnail %}
                <p class="slide_price">Подробнее...</p>
            </a>
        </li>
            {% endifchanged %}
        {% endfor %}
    </ul>
{% endblock %}